.content-wrapper {
    height: 100% !important;
}

.info-box-number {
    /* margin-top: 18px; */
    color: gray;
    padding-bottom: 10px;
    /* padding-left: 60px; */
}

.info-box a {
    display: block;
    text-align: center;
    padding: 10px;
}

.heading {
    color: black;
    font-size: 150%;
    font-family: verdana;
    font-weight: bold;
    margin-bottom: 7px;
}

.widthSet {
    padding-left: 0px;
    /* padding-top: 9px; */
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eee;
}

.content-wrapper {
    background-color: white !important;
}

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    /*! box-shadow:0 1px 1px rgba(0,0,0,0.1) */
}

.small-box>.inner {
    padding: 10px;
}

.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none
}

.small-box>.small-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15)
}

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0
}

.small-box p {
    font-size: 15px
}

.small-box p>small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px
}

.small-box h3,
.small-box p {
    z-index: 5
}

.small-box>.inner {
    padding: 10px;
}

.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none
}

.small-box>.small-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15)
}

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0
}

.small-box p {
    font-size: 15px
}

.small-box p>small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px
}

.small-box h3,
.small-box p {
    z-index: 5
}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    /*! color:rgba(0,0,0,0.15); */
}

.small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
}

.small-box:hover .icon {
    font-size: 95px;
}

@media (max-width:767px) {
    .small-box {
        text-align: center
    }
    .small-box .icon {
        display: none
    }
    .small-box:hover {
        text-decoration: none;
        color: #f9f9f9
    }
    .small-box:hover .icon {
        font-size: 95px
    }
}

@media (max-width:767px) {
    .small-box {
        text-align: center
    }
    .small-box .icon {
        display: none
    }
    .small-box p {
        font-size: 12px
    }
}

.ion{
    display: inline-block;
    font-family: "Ionicons" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ion-alert:before {
    content: "\f101"
}

.ion-stats-bars:before {
    content: "\f2b5";
}

.fa {
    font-size: 40px !important;
}