<div class="content-wrapper" style="max-height: 500px;overflow-y: scroll">
  <section class="content-header">
    <h1 *ngIf="role !== 'COMPANY-OWNER'">Add Company</h1>
  </section>
  <section *ngIf="role !== 'COMPANY-OWNER'" class="content-header">
    <div class="p10">
      <div class="row">
        <div class="col-xs-0">
          <a data-toggle="modal" data-target="#companyModal" style="cursor:pointer">
            <button class="btn btn-primary" style="margin-left: 40px;">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Companies</h3>
            (
            <b> {{CompanyCount}} </b> )
            <div class="box-tools">
              <!-- <div class="input-group input-group-sm" style="width: 200px;">
                <input name="table_search" class="form-control pull-right" placeholder="Search" type="text" [(ngModel)]="data"
                  (keyup)="searchTerm(data)">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div> -->
            </div>
          </div>

          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody *ngIf="companyList != undefined && companyList.length > 0">
                <tr style="background-color: #ddd">
                  <th>Name</th>
                  <th>Email</th>
                  <th>Created Date</th>
                  <th>Total Users</th>
                  <!-- <th>Status</th> -->
                  <th>Actions</th>
                  <th></th>

                </tr>
                <tr *ngFor="let x of companyList">
                  <td>
                    <input [(ngModel)]="x.name === undefined ? '': x.name" [disabled]="x.hideinputbox === undefined ? true : false"
                      [ngStyle]="{'background-color':x.hideinputbox === undefined ? '' : 'lightgrey'}">
                  </td>
                  <td>{{x.email === undefined ? '': x.email }}</td>
                  <!-- <td>
                    <input [(ngModel)]="x.displayname" [disabled]="x.hideinputbox === undefined ? true : false"
                      [ngStyle]="{'background-color':x.hideinputbox === undefined ? '' : 'skyblue' }">
                  </td> -->
                  <td>{{x.createdAt === undefined ? '': x.createdAt}}</td>
                  <td>{{x.totalusers === undefined ? '': x.totalusers}}</td>
                  <!-- <td>{{x.totalmessages === undefined ? '': x.totalmessages}}</td> -->
                  <!-- <td>
                    <span [ngStyle]="{'background-color':x.isActive === true ? 'lightgreen' : 'red' }">{{(x.isActive
                      === undefined ?'': x.isActive) ?
                      "Active" : "Inactive"}}</span>
                  </td> -->
                  <td style="cursor:pointer ">
                    <a title="Edit" [hidden]="x.pencil">
                      <i class="fa fa-pencil" style="font-size:20px; color:black" (click)="openedit(x)"></i>
                    </a>
                    <a title="Update" [hidden]="!x.pencil">
                      <i class="fa fa-check" style="font-size:17px; color:green" (click)="editCompany(x._id,x)"></i>
                    </a>
                    <!-- <a title="Delete">
                      <i class="fa fa-trash" style="font-size:20px; color:green"></i>
                    </a> -->
                  </td>
                    <td style="cursor:pointer ">
                    <span *ngIf="logeduserId == x.user_id" class="inline">
                      <delete-confirm class="delete-confirm" title="Delete" [question]="'Are you sure you want to delete?'"
                        (onConfirm)="sendDelete($event,x._id)" (onCancel)="sendCancel($event)"></delete-confirm>
                    </span>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
    <div *ngIf="showLoader" class="fa fa-spinner fa-spin" style="font-size:50px;text-align: center;
    position: absolute;top: 50%;left: 50%;"></div>
  </section>
  <!-- /.row (main row) -->
</div>



<div id="companyModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Details</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="box-body">
            <!-- <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input class="form-control" id="inputfirst3" name="first" placeholder="Name" type="text" [(ngModel)]="company.name">
              </div>
            </div> -->
            <!-- <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input class="form-control" id="inputEmail3" name="email" placeholder="EmailId" type="email"
                  [(ngModel)]="company.email">
              </div>
            </div> -->
            <div class="form-group" [ngClass]="{'has-error': name.invalid && (name.dirty || name.touched),'has-success': name.valid && (name.dirty || name.touched) }">
                <label for="inputPassword">Name</label>
                <input class="form-control" type="text" [(ngModel)]="company.name" id="name" required name="name"
                  placeholder="Name" minlength="3"  #name="ngModel" >
                  <div *ngIf="name.errors && (name.dirty || name.touched)" class="has-error">
                      <div [hidden]="!name.errors.required">
                          name is required!
                      </div>
                      <div [hidden]="!name.errors.minlength">
                          Please enter a valid name!
                      </div>
                  </div>
              </div>
            <div class="form-group" [ngClass]="{'has-error': email.invalid && (email.dirty || email.touched),'has-success': email.valid && (email.dirty || email.touched) }">
                <label for="inputPassword">Email</label>
                <input class="form-control" type="email" [(ngModel)]="company.email" id="email" required name="email"
                  placeholder="Company Email" minlength="8"  #email="ngModel" pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$">
                  <div *ngIf="email.errors && (email.dirty || email.touched)" class="has-error">
                      <div [hidden]="!email.errors.required">
                          email is required!
                      </div>
                      <div [hidden]="!email.errors.pattern">
                        Please enter a valid email!
                      </div>
                  </div>
              </div>
          </div>
        </form>
      </div>
      <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="resetUsersData()" >Save changes</button>
            </div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button class="btn btn-primary" type="submit" (click)="addCompany(company)">Save changes</button>
      </div>
    </div>
  </div>
</div>