<div class="content-wrapper" style="max-height: 500px;overflow-y: scroll">



    <section class="content" style="width:100%">
        <div *ngIf="role === 'ADMIN'" style="padding-bottom: 20px ;font-weight: bold "> Companies:<select
                class="form-control" name="selectedTechs" [(ngModel)]="selectedcompany.company_id" id="name"
                placeholder="company" (change)="selectCompany(company);" required #selectedTechs="ngModel">
                <!-- #id="ngModel" -->
                <!-- <option value="">Select Company</option> -->
                <option *ngFor="let company of companyList" [value]="company.company_id._id"
                    [selected]="company.company_id.name">{{company.company_id.name}}

                </option>
            </select>

        </div>
        <div class="col-md-6 displayBox"
            style="width:19%;float:left;height: 460px;overflow-y: scroll;font-weight: bold  ">
            <div *ngFor="let user of usersList" class="grid ">
                <ul class="example"
                    style="margin-bottom: 8px ;padding-left:5px;box-shadow: 0 26px 97px rgba(0, 0, 0, 0.1); background:lightgray;min-height:34px;border-radius: 5px;text-align: start;cursor: pointer"
                    [ngClass]="{'currenttab-class': currenttabidcss === true && userId === user._id}">
                    <a *ngIf="user.notification_count"><span
                            class="label label-success pull-right">{{user.notification_count}}</span></a>
                    <li class="example" style="text-align: start" [routerLink]="['/allchathistory']"
                        (click)="selectedUser(user)">
                        {{user.email}}
                    </li>
                    <a *ngIf="user.online"><span class="label label-success"
                            style="color: green">{{user.online === true ? 'online' : ''}}</span> </a>
                </ul>
            </div>

        </div>

        <div class="col-md-6 displayBox"
        style="width:19%;float:left;height: 460px;overflow-y: scroll;font-weight: bold  "> Select One User
        <div *ngFor="let user1 of anotherRecrList" class="grid ">
            <ul class="example"
                style="margin-bottom: 8px ;padding-left:5px;box-shadow: 0 26px 97px rgba(0, 0, 0, 0.1); 
                background:lightgray;min-height:34px;border-radius: 5px;text-align: start;cursor: pointer"
                [ngClass]="{'currenttab-class1': currenttabidcss1 === true && logeduserId1 === user1._id}" >
                <li class="example" style="text-align: start" (click)="ReceiverSelected(user1)">
                    {{user1.email}}
                </li>
                
            </ul>
        </div>
  
        </div>

        <div style="float:right;width: 60%">

            <div class="box-header with-border">
                <i class="fa fa-text"></i>
                <!-- <h3 class="box-title" style="color:red;font-size: bold;font-family: italic;margin-left: 50px">{{usernamekey.customerName
                    !== undefined ? usernamekey.customerName : usernamekey.key}}</h3> -->
                <div class="box-tools pull-right">
                    <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="Messages">
                        <i class="fa fa-comments">{{chathistory.length}}</i>
                    </span>
                </div>
            </div>
            <!-- DIRECT CHAT PRIMARY -->
            <div class="box box-primary direct-chat direct-chat-primary">
                <!-- /.box-header -->
                <div class="box-body" style="height: 400px !important ; overflow: hidden">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">
                        <!-- Message. Default to the left -->
                        <!-- <div *ngIf="chathistory.length == 0">"------ Please Select User ------"</div> -->
                        <div class="direct-chat-msg" *ngFor="let y of chathistory ">
                            <div *ngIf="y.sendr_id !== undefined">
                                <div class="direct-chat-info clearfix">
                                    <span
                                        class="direct-chat-name  {{y.sendr_id._id == logeduserId1 ? 'pull-right':'pull-left'}}">{{y.sendr_id.email}}</span>
                                </div>
                                <!-- /.direct-chat-info -->

                                <!-- <img class="direct-chat-img pull-right" src="assets/images/apple-icon-144x144.png" alt="Message User Image" *ngIf="y.type == 'operator'"> -->

                                <div *ngIf="y.sendr_id._id !== logeduserId1">
                                    <img class="direct-chat-img pull-left" src="assets/images/user1-256x256.png"
                                        alt="Message User Image" *ngIf="y.recer_id._id">
                                </div>
                                <div *ngIf="y.sendr_id._id === logeduserId1">
                                    <img class="direct-chat-img pull-right" src="assets/images/againt.jpg"
                                        alt="Message User Image" *ngIf="logeduserId1 == y.sendr_id._id">
                                </div>

                                <!-- <a data-toggle="modal" data-target="#msgDeleteModel" style="cursor:pointer" (click)="delt(y)">
                                <div class="direct-chat-text contenter {{y.sendr_id._id == logeduserId1 ? 'pull-right':'pull-left'}}" >
                                    <span *ngIf="y.messages !== '' && !y.isDelete" [innerHTML]="y.messages"></span>
                                    <span *ngIf="y.messages !== '' && y.isDelete" style="background: dimgray" >Message Deleted</span>
                                </div>
                                </a> -->

                                <a *ngIf="!y.isDelete" data-toggle="modal" data-target="#msgDeleteModel"
                                    style="cursor:pointer" (click)="delt(y)">
                                    <div *ngIf="y.messages !== '' && !y.isDelete && y.document_url === undefined" class="direct-chat-text contenter {{y.sendr_id._id == logeduserId1 ? 'pull-right':'pull-left'}}">
                                        <span *ngIf="y.messages !== '' && !y.isDelete" [innerHTML]="y.messages"></span>
                                    </div>
                                </a>
                                <a *ngIf="y.isDelete  && y.document_url === undefined">
                                    <div
                                        class="direct-chat-text contenter {{y.sendr_id._id == logeduserId1 ? 'pull-right':'pull-left'}}">
                                        <span *ngIf="y.messages !== '' && y.isDelete"
                                            style="background: lightcoral">Message Deleted</span>
                                    </div>
                                </a>


                                <div *ngIf="y.document_url !== undefined && y.isDelete===true"
                                    class="direct-chat-text contenter {{y.sendr_id._id == logeduserId1 ? 'pull-right':'pull-left'}}"
                                    style="width: 200px;height: auto;">
                                    <!-- <a href="{{y.document_url}}" target="_blank" download>
                                        <img style="padding-bottom:10px;" src="{{y.document_url}}" />Download
                                    </a> -->
                                    Image Deleted
                                </div>

                                <div *ngIf="y.document_url !== undefined && y.isDelete!==true"
                                    class="direct-chat-text contenter {{y.sendr_id._id == logeduserId1 ? 'pull-right':'pull-left'}}"
                                    style="width: 200px;height: auto;">
                                    <a *ngIf="!y.isDelete" data-toggle="modal" data-target="#msgDeleteModel"
                                        style="cursor:pointer" (click)="delt(y)" class="fa fa-close"></a>
                                    <a href="{{y.document_url}}" target="_blank" download>
                                        <img style="padding-bottom:10px;" src="{{y.document_url}}" />Download
                                    </a>
                                </div>

                                <div class="direct-chat-info clearfix" style="padding: 40px;">
                                    <span
                                        class="direct-chat-name  {{y.sendr_id._id == logeduserId1 ? 'pull-right':'pull-left'}}">
                                        {{y.curnttDate}}</span>
                                </div>

                                <!-- /.direct-chat-text -->
                            </div>

                        </div>
                        <div [hidden]="!disconnected">"------Customer Is Disconnected------"</div>
                        <!-- /.direct-chat-msg -->

                        <!-- Message to the right -->
                        <!-- /.direct-chat-msg -->
                    </div>
                    <!--/.direct-chat-messages-->

                </div>

                <!-- <div class="col pl5" style="color: blue " [hidden]="istyping">is typing...</div> -->
                <div [hidden]='userparamsId == undefined ? false : true' style="border-bottom: 2px solid grey"></div>
                <!-- <div [hidden]='userparamsId == undefined ? true : false' class="col-md-12 ">
                    <div class="box-footer" style="border-top:0px;padding:0px">
                        <div class="input-group">
                            <input class="form-control" name="topic" id="m" autocomplete="off" [(ngModel)]="messageText"
                                (keyup.enter)="sendmessage(messageText)" type="text" placeholder="Type a message ..."
                                autofocus="" (ngModelChange)="valuechange($event)" [disabled]="disconnecte">
                            <span class="input-group-btn btn btn-success btn-flat">
                                <input type="file" name="image" [(ngModel)]="file" (change)="uploadImage($event)"
                                    id="name" />
                                <img *ngIf="showpreviewafterEdit" style="padding-bottom:10px;"
                                    src="{{productCategory.image}}" />
                            </span>

                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success btn-flat" [disabled]="disabled"
                                    (click)="sendmessage(messageText)" [disabled]="disconnecte">Send</button>
                            </span>
                        </div>
                    </div>
                </div> -->
                <!-- <div>
                        <div class="col pl5" style="width:85%;margin-bottom: 10px;" [hidden]=typebox>
                            <input class="form-control" name="topic" id="m" autocomplete="off" [(ngModel)]="messageText" (keyup.enter)="sendmessage(messageText)"
                                type="text" placeholder="Type a message" autofocus="" (ngModelChange)="valuechange($event)" [disabled]="disconnecte">
                        </div>
                        <div class="col width50 pl5" style="width:10%;" [hidden]="typebox">
                            <button [disabled]="disabled" (click)="sendmessage(messageText)" [disabled]="disconnecte">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div> -->

                <!-- <div class="box box-default box-solid collapsed-box "> -->


                <!-- /.box-header -->
                <!-- <div class="box-body" style="display: none;">
                           
                        </div> -->
                <!-- /.box-body -->
                <!-- </div> -->
                <!-- /.box -->
                <!-- </div> -->
                <!-- /.box-body -->
                <!-- <div class="box-footer">
                      
                    </div> -->
                <!-- /.box-footer-->
            </div>
            <!--/.direct-chat -->
        </div>

        <div *ngIf="showLoader" class="fa fa-spinner fa-spin" style="font-size:50px;text-align: center;
            position: absolute;top: 50%;left: 50%;"></div>
    </section>
    <!-- /.row (main row) -->
</div>

<div id="msgDeleteModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 50%;margin: 36%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center">Are You Want To Delete this Message</h4>
            </div>
            <!-- <div class="modal-body">
       
        </div> -->
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="submit" (click)="DeleteFun(msgInfo)">Delete</button>
            </div>
        </div>
    </div>
</div>