<div class="login-box">    
<div class="login-logo">
  <img src="assets/images/ang.png" class="imagesize">
</div>
<div class="login-cont">
  <!-- /.login-logo -->
  <div class="login-box-body">
    <form role="form">
      <div class="box-body" >
        <div ngModelGroup="password" #userPassword="ngModelGroup" required>
            <div class="form-group" [ngClass]="{'has-error': code.invalid && (code.dirty || code.touched),'has-success': code.valid && (code.dirty || code.touched) }">
                <label for="inputPassword">Code</label>
                <input class="form-control" type="text" [(ngModel)]="person.code"  id="code" required name="code" placeholder="Code"
                #code="ngModel">
                  <div *ngIf="code.errors && (code.dirty || code.touched)" class="has-error">
                      <div [hidden]="!code.errors.required">
                          code is required!
                      </div>
                      <div [hidden]="!code.errors.minlength">
                          Please enter a valid code!
                      </div>
                  </div>
              </div>
              <div class="form-group" [ngClass]="{'has-error': pwd1.invalid && (pwd1.dirty || pwd1.touched),'has-success': pwd1.valid && (pwd1.dirty || pwd1.touched) }">
                  <label for="inputPassword">New Password</label>
                  <input class="form-control" type="password" [(ngModel)]="person.password" id="pwd1" required name="pwd1"
                    placeholder="Password" minlength="8"  #pwd1="ngModel" >
                    <div *ngIf="pwd1.errors && (pwd1.dirty || pwd1.touched)" class="has-error">
                        <div [hidden]="!pwd1.errors.required">
                            Password is required!
                        </div>
                        <div [hidden]="!pwd1.errors.minlength">
                            Please enter a valid password!
                        </div>
                    </div>
                </div>
  
                <div class="form-group" [ngClass]="{'has-error': pwd2.invalid && (pwd2.dirty || pwd2.touched),'has-success': pwd2.valid && (pwd2.dirty || pwd2.touched) }">
                  <label for="confirmPassword">Confirm Password</label>
                  <input class="form-control" type="password" [(ngModel)]="person.conformpassword" id="pwd2" required name="pwd2"
                   placeholder="Confirm Password"  #pwd2="ngModel" >
                   <div *ngIf="pwd2.errors && (pwd2.dirty || pwd2.touched)" class="has-error">
                      <div [hidden]="!pwd2.errors.required">
                          Confirm Password is required!
                      </div>
                      <div [hidden]="!pwd2.errors.minlength">
                          Please enter a valid password!
                      </div>
                  </div>
                </div>
  
                <div
                  *ngIf="(userPassword.invalid|| userPassword.value?.pwd1 != userPassword.value?.pwd2) && (userPassword.touched)"
                  class="alert alert-danger">
            <div *ngIf="userPassword.invalid; else nomatch">
              Password needs to be more than 8 characters
            </div>
            <ng-template #nomatch>
              Passwords don't match
            </ng-template>
          </div>
        </div>
        <!-- <div class="checkbox">
          <label>
            <input type="checkbox"> Check me out
          </label>
        </div> -->
      </div>

      <div class="box-footer" >
        <button type="submit" class="btn btn-primary " style="margin-left: 40%" (click)="onFormSubmit()">Submit</button>
      </div>
      <!-- <div class="box-body" [hidden]="!showfields">
        <h3 style="text-align: center;color:red">Session Is Expired</h3>
      </div> -->
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
</div>


<div class="alert alert-error" id="error-alert-code-existed" style=" opacity: 0;
display: block;
position: fixed;
right: 10px;

top: 10px;">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Not Matched!</strong> code not matched.
</div>

<div class="alert alert-error" id="error-alert-miss-password" style=" opacity: 0;
display: block;
position: fixed;
right: 10px;

top: 10px;">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Miss Match!</strong>Password Is Not Maatched
</div>

<div class="alert alert-error" id="error-alert-user-existed" style=" opacity: 0;
display: block;
position: fixed;
right: 10px;
top: 10px;">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h4>
    <i class="icon fa fa-warning"></i> Warning!</h4>
  user is already Existed.
</div>

<div class="alert alert-error" id="error-alert" style=" opacity: 0;
display: block;
position: fixed;
right: 10px;

top: 10px;">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h4>
    <i class="icon fa fa-warning"></i> Warning!</h4>
  Please enter All Fields.
</div>
